@font-face {
    font-family: 'roboto-light';
    src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: 'roboto-thin';
    src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    box-sizing: border-box; /* This ensures any padding or border are included in the element's total width and height */
    color: white; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), /* Semi-transparent black */
        rgba(0, 0, 0, 0.1)
    ), url(./images/be65a5e7-78bd-439e-a08f-8b7cfa9c8b22.webp);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensures the background is behind the content */
}


.content {
    min-height: 41rem; 
    width: 60rem;
    min-width: 50rem;
    background-color: rgba(76, 76, 76, 0.659);
    margin: 5rem 25rem; 
    display: flex;
    flex-direction: row;
    border-radius: 15px; 
    padding: 2rem; 
    gap: 2rem; 
}

.leftbox, .upperWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

.rightbox {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2.5rem; 
}

.leftbox {
    gap: 1.8rem;
}

.searchbox {
    display: flex;
    border-bottom: 2px solid white;
    padding-left: 0.7rem;
    padding-right: 0.7rem; 
}


#search {
    font-size: 1rem;
    border: none; 
    outline: none;
    box-shadow: none;
    border-radius: 10px;
    background-color: transparent;
    height: 1.2rem;
    width: 8rem; 
    color: white; 
    text-decoration: none;
}

#search::placeholder {
    color: #e4e4e4;
}

#search-btn {
    border: none;
    background-image: url('./icons/magnifying-glass-svgrepo-com.svg'); /* Ensure the path is correct */
    background-size: cover; /* Adjust as needed, could also be 'contain' or specific dimensions */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 1rem; /* Adjust based on the size of your icon */
    height: 1rem; /* Adjust based on the size of your icon */
    padding: 0; /* Remove padding */
    display: inline-block; /* Adjust display to your needs */
    background-color: transparent; /* Adjust background color as needed */
}

#search-btn:hover {
    cursor: pointer;
    transform: scale(1.09);
}

.weatherbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(115, 115, 115, 0);
    border-radius: 15px; 
    height: 100%;
}

.upperWeather {
    margin-top: 2rem;
    margin-left: 1.5rem; 
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.location {
    font-size: 2rem;
    font-family: 'roboto-light';
}

.temp {
    font-size: 3.5rem;
    font-family: 'roboto-regular';
}

.weather {
    font-size: 1.5rem;
    font-family: 'roboto-regular';
    margin-top: -0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.9rem;  
    width: 100%;  
    height: 3rem;
}

#condition-image {
    margin: 0;
    padding: 0;
    margin-left: -0.7rem; 
    margin-top: 0.4rem;
    height: 48px;
    width: 48px;
}

.sun-data {
    font-size: 1.2rem; 
    display: flex;
    justify-content: space-between; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center;
    height: 100%;
    width: 60%; /* Adjust height as needed to fill the container */
    font-family: 'roboto-light';
    color: rgb(255, 255, 255); 
    font-family: 'roboto-light';
    margin-top: 0.8rem;
}

.lowerWeather {
    margin-left: 1.5rem; 
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 2rem; 
}

.lowerBox {
    background-color: black;
    height: 7.5rem;
    width: 12rem; 
    border-radius: 15px;
    color: gray; 
    font-family: 'roboto-light';
    /*box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.77); */
}

.lowerboxtitle, .lowerboxdata {
    margin-left: 0.9rem; 
    margin-top: 0.8rem; 
}

.lowerboxtitle {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.lowerboxdata {
    color: white;
    font-size: 2rem;
    margin-left: 1rem; 
}

.icon {
    height: 1.5rem;
}

.hourlyForecast, .dayForecast {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.8rem; 
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    font-family: 'roboto-light';
}

.boxTitle {
    color: gray; 
}

.hours-box {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 0.5rem; 
}


.hour-header, .daily-header  {
    display: flex;
    align-items: center;
    gap: 0.4rem; 
    border-bottom: 1px solid gray;
    padding-bottom: 0.6rem;
}

.i-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 0.7rem;
}

.hour-temp {
    font-size: 1.4rem;
    margin-top: 0.3rem;
}

#hour-icon, #daily-header-icon, #daily-icon {
    margin: 0;
    padding: 0; 
    height: 30px;
    width: 30px;
}

.hours-box::-webkit-scrollbar-track, .daily-box::-webkit-scrollbar-track {
    background: #a5a5a5e2; /* Light grey background */
    border-radius: 5px;
}

/* Styling the scrollbar thumb (the draggable element) */
.hours-box::-webkit-scrollbar-thumb, .daily-box::-webkit-scrollbar-thumb {
    background: #5e5e5e; /* Dark grey thumb */
    border-radius: 5px;
}

/* On hover effect for the scrollbar thumb */
.hours-box::-webkit-scrollbar-thumb:hover, .daily-box::-webkit-scrollbar-thumb:hover {
    background: #484848; /* Darker shade of grey on hover */
}

/* Styling the scrollbar itself (width and height) */
.hours-box::-webkit-scrollbar {
    height: 0.5rem; /* For horizontal scrollbars */
}

.daily-box::-webkit-scrollbar {
    width: 0.5rem;
}


#clock-icon {
    margin: 0;
    padding: 0; 
    height: 24px;
    width: 24px;
}

.daily-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 18rem;
    padding-right: 1rem;
}

#i-daily {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
}

#i-daily-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem; 
    border: none;
}

#i-daily-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem; 
    border-bottom: 1px solid gray;
}

.day {
    width: 1px;
}

#daily-icon {
    margin-right: 8rem; 
}

.daily-low-temp {
    color: rgba(255, 255, 255, 0.701); 
}

.daily-high-temp {
    width: 25px;
    display: flex;
    justify-content: flex-end;
}









